@model List<UserDetail>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "User List";
}

<div class="card">
    <div class="card-header bg-success text-white">
        <h4>User List</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>User Email</th>
                    <th>Is Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var user in Model)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.Email</td>
                        <td>
                            @{
                                var isActiveFalg = "";
                                var isInActiveFalg = "";

                                if (user.IsActive)
                                    isActiveFalg = "checked";
                                else
                                    isInActiveFalg = "checked";
                            }

                            <input type="radio" name="isActive2" checked> Yes
                            <input type="radio" name="isActive2"> No


                        </td>
                        <td><a href="#" class="btn btn-warning btn-sm">Update</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
